body{
    background-color: grey;
}
#main{
    font-family: 'Roboto', sans-serif;
}
.navBar{
    max-height: 15%;
    background-color: white;
    text-align: center;
}

.cardPost{
    width: 500px;
    height: 600px;
    background-color: white;
    margin: 30px auto;
}

.postNumber{
    padding: 5px;
}
.page{
    padding: 5px;
    color: blue;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    ;
}

.img{
    min-width: 500px;
    max-width: 500px;
    min-height: 400px;
}

.icons{
    padding: 5px;
}


.fa-bookmark{
    float: right;
}

.comment{
    padding-left: 5px;
}